<div class="reg_list">
<h1>Registration</h1>


<%= form_for :user, url: sign_up_path do |form| %>
  
  <div class="reg_list_item">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true%>
  </div>

  <div class="reg_list_item">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true%>
  </div>

  <div class="reg_list_item">
    <%= form.label :email %>
    <%= form.email_field :email, required: true%>
  </div>

  <div class="reg_list_item">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div class="reg_list_item">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <%= form.submit "Sign Up" %>

<% end %>
</div>